<div class="container">
<div class="row">
  <div class="col-xs-12">
    <ol>
      <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
      <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
      <li>Add a button which may only be clicked if the username is NOT an empty string</li>
      <li>Upon clicking the button, the username should be reset to an empty string</li>
    </ol>
    <hr>
    <label for="">Username</label>
    <input type="text" class="form-control" [(ngModel)]="username"><br>
    <label for="">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password"><br>
    <label for="">Confirmpassword</label>
    <input type="password" class="form-control" [(ngModel)]="confirmpassword"><br>
    User Name {{username}}<br>
    Password {{password}}<br>
    Confirm Password {{confirmpassword}}<br>
    <button class="btn btn-primary"
     [disabled]="username==='' && password==='' && confirmpassword===''"
     (click)="username=''; password=''; confirmpassword=''">Reset Form</button>
  </div>
 
</div>
</div>
